
<div class="text-center">
    <h1 class="display-4">Soy Enmanuel Castillo <i class="bi bi-code-slash"></i></h1>
    <h2>Soy un desarrollador FullStack especializado en tecnologias .NET y JavaScript.</h2>
    <img id="photo" src="~/imagenes/photo.png" alt="foto de Enmanuel Castillo" />
</div>

<div class="text-center">
    <img id="imagen-js" src="~/imagenes/js-logo.png" alt="js logo" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            ¡Hola! Soy un programador entusiasta y autodidacta con una pasión por la tecnología y el desarrollo de software. Desde pequeño, me fascinó el poder de la programación para transformar ideas en realidades digitales. He dedicado innumerables horas a aprender diferentes lenguajes de programación, frameworks y herramientas, explorando el desarrollo web desde el FrontEnd hasta el BackEnd.
        </p>

    </div>

</div>