@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Soy Enmanuel Castillo</h1>
    <h2>Soy un desarrollador FullStack especializado en tecnologias .NET y JavaScript.</h2>
    <img id="photo" src="~/imagenes/photo.png" alt="foto de Enmanuel Castillo" />
</div>
