@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Soy Enmanuel Castillo <i class="bi bi-code-slash"></i></h1>
    <h2>Soy un desarrollador FullStack especializado en tecnologias .NET y JavaScript.</h2>
    <img id="photo" src="~/imagenes/photo.png" alt="foto de Enmanuel Castillo" />
</div>

<div class="text-center">
    <img id="imagen-js" src="~/imagenes/js-logo.png" alt="js logo" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            ¡Hola! Soy un programador entusiasta y autodidacta con una pasión por la tecnología y el desarrollo de software. Desde pequeño, me fascinó el poder de la programación para transformar ideas en realidades digitales. He dedicado innumerables horas a aprender diferentes lenguajes de programación, frameworks y herramientas, explorando el desarrollo web desde el FrontEnd hasta el BackEnd.
        </p>

    </div>

</div>
<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 grey">
            <i class="bi bi-hdd-fill"></i>
        <h3>Back-End</h3>
        <p>
            Trabajo desde el desarrollo, creacion de api, consulta a bases de Datos
            y pruebas de codigo continuo
        </p>
        <p class="text-primary cabecera">STACKS:</p>
        <ul>
            <li>Web APIs</li>
            <li>Ruby On Rails</li>
            <li>MERN Stack</li>
            <li>ASP.NET CORE MVC</li>
            <li>ORMs</li>
            <li>Node js</li>

        </ul>
    </div>


        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 grey">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
        <p>Puedo crear frontend robustos que cumplen los requisitos del clientes</p>
        <p class="text-primary cabecera">STACKS:</p>
        <ul>
            <li>HTML y CSS</li>
            <li>Responsive Design</li>
            <li>Bootstrap, Materialize, Foundation, etc</li>
            <li>React Js</li>
            <li>Blazor WASM</li>
            <li>Angular</li>
        </ul>
    </div>
</div>
</div>